[submodule "themes/hugo-octopress"]
	path = themes/hugo-octopress
	url = https://github.com/parsiya/hugo-octopress/
[submodule "public"]
	path = public
	url = git@github.com:RichardW42/richardw42.github.io.git
	branch = master
