[submodule "themes/hugo-octopress"]
	path = themes/hugo-octopress
	url = https://github.com/parsiya/hugo-octopress/
	branch = master
[submodule "public"]
	path = public
	url = git@github.com:RichardW42/richardw42.github.io.git
	branch = master
[submodule "themes/calico-zen"]
	path = themes/calico-zen
	url = https://github.com/wych42/calico-zen
[submodule "themes/diary"]
	path = themes/diary
	url = git@github.com:wych42/hugo-theme-diary.git
    branch = wych42
