
<!-- issue list layout -->

{{ partial "header.html" . }}

<div id="main">
  <div id="content">
    <div>
      <article role="article">
        <div id="blog-archives" class="category">
          {{ range .Data.Pages }}
          <h2>
            {{ .Date | dateFormat "2006"}}
          </h2>
          <article>
            <h1>
              <a href="{{ .Permalink }}" title="{{ .Title }}">{{ .Title }}</a>
            </h1>
            <time>
              <span class="month">{{ .Date | dateFormat "Jan" }}</span>
              <span class="day">{{ .Date | dateFormat "2" }}</span>
            </time>
            <footer>
              <span> {{ .Summary }} </span>
            </footer>
          </article>
          {{ end }}
        </div>
      </article>
    </div>

    {{ partial "sidebar.html" . }}
  </div>
</div>

{{ partial "footer.html" . }}
